---
import { getCollection } from "astro:content";
import HeroSlide from "./HeroSlide.astro";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/effect-fade";
import { Icon } from "astro-icon/components";

const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const hero = siteInfo.hero;
---

<div class="relative">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {hero.map((heroContent) => <HeroSlide hero={heroContent} />)}
    </div>

    <!-- Custom Navigation -->
    <!-- <div class="hidden lg:block absolute top-1/2 left-4 z-10 transform -translate-y-1/2">
      <div class="swiper-button-prev custom-prev-button">
        <Icon
          name="carbon:arrow-left"
          class="w-10 h-10 text-neutral-content bg-black/10 rounded-full p-2"
        />
      </div>
    </div>
    <div class="hidden lg:block absolute top-1/2 right-4 z-10 transform -translate-y-1/2">
      <div class="swiper-button-next custom-next-button">
        <Icon
          name="carbon:arrow-right"
          class="w-10 h-10 text-neutral-content bg-black/10 rounded-full p-2"
        />
      </div>
    </div> -->
  </div>
</div>

<script is:inline>
  import Swiper from "swiper";
  import { EffectFade, Navigation, Pagination, Autoplay } from "swiper/modules";

  // Ensure the script runs after the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper(".mySwiper", {
      modules: [Navigation, Pagination, EffectFade, Autoplay],

      // Autoplay Configuration
      autoplay: {
        delay: 7500, // 5 seconds between slides
        disableOnInteraction: false, // Continue autoplay after user interaction
        pauseOnMouseEnter: true, // Pause on hover
      },

      // Navigation Configuration
      navigation: {
        nextEl: ".swiper-prev-button",
        prevEl: ".swiper-button-prev",
        // Optional: disable default navigation styles
        disabledClass: "swiper-button-disabled opacity-50",
      },

      // Effect Configuration
      effect: "fade",
      fadeEffect: {
        crossFade: true, // Smoother fade transition
      },

      // Additional Options
      loop: true,
      speed: 1000, // Transition speed in milliseconds

      // Accessibility
      a11y: {
        enabled: true,
        prevSlideMessage: "Previous slide",
        nextSlideMessage: "Next slide",
        firstSlideMessage: "This is the first slide",
        lastSlideMessage: "This is the last slide",
      },
    });
  });
</script>

<style>
  /* Optional: Custom styles for navigation buttons */
  .swiper-button-prev,
  .swiper-button-next {
    color: transparent; 
    width: 75px;
    height: 50px;
    transition: transform 0.2s ease;
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.1);
  }
</style>
