---
import { getCollection } from "astro:content";
import TestimonialItem from "./TestimonialItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";
import SunRays from "../icons/SunRays.astro";

const siteData = await getCollection("siteCollection");
const siteInfo = siteData[0].data;
const testimonials = siteInfo.testimonials;
---

<div class="my-20">
  <SunRays class="mx-auto fill-primary mb-5" />
  <Heading
    size="xxl"
    fontweight="black"
    fontstyle="point"
    class="text-center">Testimonials</Heading
  >
  <div class="swiper mySwiper">
    <div class="swiper-wrapper bg-base-100">
      {
        testimonials.map((testimonial) => (
          <TestimonialItem testimonials={testimonial} />
        ))
      }
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>

<style is:global>
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 4px !important;
    border-radius: 2px !important;
    background: rgba(129, 128, 128, 0.4) !important;
    opacity: 1 !important;
    transition: all 0.3s ease !important;
  }

  .swiper-pagination-bullet-active {
    background: #1e3752 !important;
  }
</style>
 

<script>
  import Swiper from "swiper";
  import { EffectFade, Navigation, Pagination } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";
  const swiper = new Swiper(".mySwiper", {
    modules: [Navigation, Pagination, EffectFade],
    direction: "horizontal",
    loop: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    effect: "fade",
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
