---
import { getCollection } from "astro:content";
import Container from "../ui/Container.astro";
import Heading from "../ui/Heading.astro";
import Paragraph from "../ui/Paragraph.astro";
import { Icon } from "astro-icon/components";

const aboutData = await getCollection("aboutCollection");
const aboutInfo = aboutData[0].data;
const whyUs = aboutInfo.whyUs;
---

<Container>
  <Heading class="text-center mb-15">
    {whyUs.heading}
  </Heading>
  <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {
      whyUs.list.map((item) => (
        <li class="card card-border rounded-xl bg-accent/50 hover:bg-accent/80">
          <div class="card-body">
            <Icon class="text-secondary w-14 h-14 mx-auto mb-5" name={item.icon} title={item.text} />
            <Paragraph variant="defaulttext" class="mb-5">{item.text}</Paragraph>
          </div>
        </li>
      ))
    }
  </ul>
</Container>
