---
import { cn } from "@/lib/utils";
import { Icon } from "astro-icon/components";

interface Social {
  text: string;
  link: string;
  icon: string;
}

interface Props {
  socials: Social[];
  class?: string;
}

const { socials, class: className } = Astro.props;
---

<ul class="flex space-x-5">
  {
    socials.map((item) => (
      <li class="group tooltip" data-tip={`Go to ${item.text}`}>
        <a href={item.link} title={item.text}>
          <Icon
            name={item.icon}
            class={cn("text-primary group-hover:opacity-50 duration-300 ease-in-out", className)}
          />
        </a>
      </li>
    ))
  }
</ul>
